html {
    font-family: 'Cuprum', sans-serif;
    font-family: 'Francois One', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.bold {
    font-weight: bold;
    font-size: large;
    display: inline;
    text-transform: uppercase;
}
.wrapper{
    margin: 0 auto;
    width: 1000px
}
.post{
    display: flex   ;
}

body div img {
    display: block;
    max-width: 100%;
    margin-bottom: 4px;
}

.post_right {
    background: #fff;
    padding: 25px;
}

body {
    background: #585c68;
    line-height: 22px;
    font-size: 14px;
    color: #555555;
}

.post_left {
    background: #FEC056;
}
.post .post_left ul li {
    margin-bottom: 20px;
    margin-left: -30px;
    align-items: center;
}
.post .post_left ul li .icon {
    width: 30px;
    height: 30px;
    background: #fff;
    color:#FEC056;
    border-radius: 30%;
    margin-left: -2px;
    font-size: 20px;
    text-align: center;
    position: relative;
}
.post .post_left ul{
    text-align: center;
}
.data{
    margin-left: 10px;
}
.name {
    padding-left: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 60px;
    padding-bottom: 0px;
}

.major{
    color: navajowhite;
    padding-top: 0%;
    padding-left: 10px;
}
.post .item_and_skill{
    border-top: 2px solid #b1eaff;
    padding: 25px 0;
    border-bottom: 2px solid #b1eaff;
}
.post .post_left .item_and_skill ul li .skill_name {
    font-size: 12px;
    margin-right: 5px;
    border-radius: 10%;
    color: burlywood;
    background-color: rgb(0, 0, 0);
}
.post .post_left .item_and_skill ul li .skill_progress {
    width: 50%;
    margin: 0 5px;
    height: 5px;
    background: #ffffff;
    position: relative;
}
.post .post_left .item_and_skill ul li .skill_progress span {
    position: absolute;
    height: 100%;
    background: rgb(0, 0, 0);

}
li {
    text-align: -webkit-match-parent;
}
.post .post_item {
    padding: 25px 0;
    border-bottom: 2px solid #FEC056;
}
div {
    display: block;
}
.bold2 {
    font-weight: 500;
    font-size: 25px;
}
.item_and_social{
    margin-top: -30px;
    box-sizing: border-box;
    list-style: none;
}
.date {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
}
.post_item_post_hobby ul li{
    display: inline;
    border: 2px solid #FEC056;
    border-radius: 50%;
    color:  #FEC056;
    font-size: 20px;
    padding: 1%;
    margin: 20px;
}
.post_work .infor{
    font-size: 20px;
    box-sizing: border-box;
}
.item_and_social{
    list-style: none;
    border-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    line-height: -5px;
    font-size: 14px;
}
.post .post_left ul li {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.post_item_post_hobby ul{
    margin-left: 20px;
    margin-top: 70px;
}

