#title1 {
    background-color: black;
    color: white;
}

#block {
    background-color: yellow;
    padding-bottom: 20px;
    margin-left: 35%;
    margin-right: 35%;
    font-family: 'Sansita Swashed', cursive;
}

#title1 {
    text-align: center;
}

#title2 {
    text-align: center;
}

#enter {
    padding-top: 15px;
    border: 2 px;
    margin-left: 20%;
    font-family: 'Sansita Swashed', cursive;
}

#button {
    padding-top: 15px;
    border: 2 px;
    margin-right: 15%;
    font-family: 'Sansita Swashed', cursive;
}