#fisrt {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 350px;
}

#numberCount {
    text-align: right;
}

#start {
    margin: 0px 10px;
}

#timer {
    padding-left: 15%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}